.resume-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media (max-width: 500px) { 
 .resume-style{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }
 

}

.sub-resume{
    box-shadow: 2px 2px 3px gray;
    text-align: center;
    justify-content: space-between;
    margin: 10px auto;
    height: 30vh;
    width: 30vw;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    padding: 4px;

}